body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.data-grid-container .data-grid .empty-cell.cell.read-only {
  border: none;
  background-color: transparent;
}

.data-grid-container .data-grid .cell > input {
  width: auto;
  height: auto;
}
